.DS_Store
/.build

xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
TypstEdit_Installer.dmg
TypstEdit.app
temp.dmg
dmg_contents/Applications
repomix-output.xml

# TypstEdit preview temp directories created in user project folders
**/temp/*.preview.typ
**/temp/*.preview.pdf
**/temp/web_img_*
